<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">@Model.note.NoteTitle</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading text-left">
                <label>제목 : </label> @Model.note.NoteTitle <br />
                <label>작성자 : </label> @Model.note.User.UserName
            </div>
            <div class="panel-body">
                @Html.Raw(Model.note.NoteContents)
            </div>
            <div class="panel-footer text-right">
                <a class="btn btn-primary" asp-controller="Note" asp-action="Index">목록</a>
                <a class="btn btn-primary" asp-controller="Note" asp-action="Edit" asp-route-NoteNo="@Model.note.NoteNo">수정</a>
                <a class="btn btn-primary" asp-controller="Note" asp-action="Delete" asp-route-NoteNo="@Model.note.NoteNo">삭제</a>
            </div>
        </div>
    </div>
</div>

@{NoteComments CommentNote = new NoteComments();
    CommentNote.NoteNo = @Model.note.NoteNo; }


@if (Model.noteComments != null)
{
    @foreach (var noteComment in Model.noteComments)
    {
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading text-left">
                        <label>작성자 : </label> @noteComment.User.UserName
                    </div>
                    <div class="panel-body">
                        @Html.Raw(noteComment.CommentContents)
                    </div>
                </div>
            </div>
        </div>
    }
}
@await Html.PartialAsync("Partials/CommentAdd", CommentNote)

@*TODO : 유저가 로그인 되어있을 때, 댓글창 입력가능 할 수 있도록
댓글창 크기 조정*@

