<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">@Model.note.NoteTitle</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading text-left">
                <label>제목 : </label> @Model.note.NoteTitle <br />
                <label>작성자 : </label> @Model.note.User.UserName
            </div>
            <div class="panel-body">
                @Html.Raw(Model.note.NoteContents)
            </div>
            <div class="panel-footer text-right">
                <a class="btn btn-primary" asp-controller="Note" asp-action="Index">목록</a>
                <a class="btn btn-primary" asp-controller="Note" asp-action="Edit" asp-route-NoteNo="@Model.note.NoteNo">수정</a>
                <a class="btn btn-primary" asp-controller="Note" asp-action="Delete" asp-route-NoteNo="@Model.note.NoteNo">삭제</a>
            </div>
        </div>
    </div>
</div>
@if (Model.noteComments != null)
{
    @foreach (var noteComment in Model.noteComments)
    {
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading text-left">
                        <label>작성자 : </label> @noteComment.UserNo
                    </div>
                    <div class="panel-body">
                        @Html.Raw(noteComment.CommentContents)
                    </div>
                </div>
            </div>
        </div>
    }
}


